@font-face {
    font-family: 'Fieldwork';
    src:  url('../font/fieldwork/Fieldwork-Hum-Hair-Demo.otf') format('woff2'),
  }
@mixin font_color_white {
    color: #ffffff;
    font-family: "Fieldwork";
}
@mixin font_color_black {
    color: #000000;
    font-family: "Fieldwork";
}
@mixin border_radius{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffffff;
}
header{
    .navbar{
        background-color: #1a1d2f;
        a{
            font-size: 30px;
            line-height: 30px;
            @include font_color_white();
            img{
                width: 136px;
            }
        }
        i{
            color: #ffffff;
            padding-right: 10px;
        }
        p{
            font-size: 14px;
            line-height: 30px;
            @include font_color_white();
            padding-left: 21px;
            margin-bottom: 0;
        }
    }
    
}
#hero{
    background: url(../img/hero.png);
    height: 820px;
    background-repeat: no-repeat;
    padding-top: 25px;
    .hero-left{
        text-align: left;
        padding-top: 50px;
        h3{
            font-size: 25px;
            line-height: 35px;
            @include font_color_white();
            strong{
                color: #75b924;
            }
        }
        p{
            font-size: 18px;
            line-height: 27px;
            @include font_color_white();
        }
        ul{
            list-style:none;
            list-style-position: inside;
            padding-left: 0;
            margin-bottom: 30px;
            li{
                font-size: 18px;
                line-height: 35px;
                @include font_color_white();
                &:before{
                    content: "\f00c";
                    font-family: FontAwesome;
                    display: inline-block;
                    color: #75b924;
                    padding-right: 10px;
                }
            }
        }
        h2{
            font-size: 40px;
            line-height: 50px;
            font-weight: bold;
            @include font_color_white();
            margin-bottom: 30px;
            strong{
                color: #75b924;
            }
        }
        h4{
            font-size: 24px;
            line-height: 35px;
            @include font_color_white();
            margin-bottom: 30px;
        }
    }
    .inquiry-form{
        background-color: #ffffff;
        margin: 0 0px 0 60px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 7px 7px 0px 0px #595a5d;
        .form-top{
            padding: 10px;
            font-size: 18px;
            line-height: 15px;
            @include font_color_black();
            font-weight: 600;
            background-color: #f3f5f9;
            border-top-left-radius: 50px;
            span{
                font-size: 12px;
                line-height: 15px;
                @include font_color_black();
                font-weight: 300;
            }
            img{
                margin-bottom: 10px;
            }
        }
        .form-content{
            background-color: #ffffff;
            padding:25px;
            border-bottom-right-radius: 50px;
            h6{
                font-size: 22px;
                line-height: 41px;
                @include font_color_black();
                font-weight: bold;
                text-align: center;
            }
            .form-control{
                margin-bottom: 8px;
                height: 48px;
                border: 1px solid #b7b7b7;
                &:focus{
                    box-shadow: none;
                    border: 1px solid #b7b7b7;
                }
            }
            select{
                background: url(../img/arrow.png) no-repeat  95% 50%;
                appearance: none;
            }
            button{
                width: 285px;
                height: 60px;
                border-radius: 30px;
                background-color: #3694eb;
                font-size: 20px;
                line-height: 30px;
                @include font_color_white();
                font-weight: bold;
                text-align: center;
                margin-top: 10px;

                &:focus{
                    box-shadow: none;
                }
            }
        }
        .learn{
            padding-bottom: 15px;
            a{
                text-decoration: underline;
            }
        }
    }
}
#suitable{
    h1{
        font-size: 38px;
        line-height: 45px;
        @include font_color_black();
        font-weight: bold;
        margin-bottom: 54px;
    }
    img{
        width: 96%;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 7px 7px 0px 0px #75b924;
    }
    h6{
        font-size: 30px;
        line-height: 40px;
        color: #75b924;
        font-weight: bold;
        font-family: "Fieldwork";
        padding: 48px 10px 0 10px;;
    }
    p{
        font-size: 17px;
        line-height: 27px;
        @include font_color_black();
        padding: 0 20px;
    }
    button{
        width: 292px;
        height: 60px;
        border-radius: 30px;
        background-color: #3694eb;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: bold;
        @include font_color_white();
        border: 0;
        margin: 100px 0;
        transition: 0.3s ease;
        &:hover{
            color: #000000;
            transition: 0.3s ease;
        }
    }
}
#about{
    padding: 80px 0;
    background-color: #f3f5f9;
    h1{
        font-size: 38px;
        line-height: 45px;
        color: #1a1d2f;
        font-weight: bold;
        font-family: "Fieldwork";
        text-align: center;
        margin-bottom: 72px;
    }
    p{
        font-size: 25px;
        line-height: 35px;
        color: #2a2e50;
        font-family: "Fieldwork";
        text-align: center;
    } 
    .elements{
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 90px;
        position: relative;
        p{
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 25px;
            color: #13052b;
            font-family: "Fieldwork";
            text-align: left;
            margin-top: 32px;
        }
        h6{
            font-size: 22px;
            line-height: 32px;
            color: #75b924;
            font-weight: bold;
            font-family: "Fieldwork";
            margin: 45px 0px 0 10px;
        }
        .first{
            width: 400px;
            @include border_radius();
            padding: 21px 25px;
            margin-right: 30px;
            cursor: pointer;
            .elements_status{
                position: absolute;
                top: 0;
                left: 0;
                padding: 100px 20px;
                width: 400px;
                height: 415.5px;
                font-size: 38px;
                letter-spacing: 1px;
                line-height: 48px;
                font-weight: bold;
                text-transform: uppercase;
                @include font_color_white();
                text-align: center;
                filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.5));
                visibility: visible;
                opacity: 1;
                background:rgba(0,0,0,0.25);
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
                transition: opacity .2s, visibility .2s;
            }
            // &:hover .elements_status{
            //     visibility: visible;
            //     opacity: 1;
            // }
        }
        .second{
            width: 306px;
            height: 305px;
            @include border_radius();
            padding: 30px;
            margin-right: 30px;
        }
        .third{
            width: 605px;
            height: 305px;
            @include border_radius();
            padding: 30px;
            margin-right: 30px;
            margin-top: 30px;
        }
        .last{
            position: relative;
            bottom: 79px;
            width: 435px;
            padding: 28px 50px;
        }
        .four{
            @include border_radius();
            padding: 19px 30px;
            width: fit-content;
            position: relative;
            top: 31px;
            
        }
    }
}
.show_mobile{
    display: none !important;
}
@media (max-width:768px){
    .show_mobile{
        display: block !important;
    }
    .hide_mobile{
        display: none !important;
    }
    header{
        .navbar{
            a{
                font-size: 15px;
                line-height: 20px;
            }
            p{
                font-size: 12px;
                line-height: 21px;
                padding-left: 28px;
            }
        }
    }
    #hero{
        background-size: cover;
        height: 100%;
        padding-bottom: 50px;
        .hero-left{
            padding-top: 0;
            h2{
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 10px;
            }
            h4{
                font-size: 15px;
                line-height: 21px;
            }
            p{
                font-size: 15px;
                line-height: 21px;
            }
            ul{
                li{
                    font-size: 13px;
                    line-height: 30px;
                }
            }
            h3{
                font-size: 23px;
                line-height: 30px;
            }
        }
        .inquiry-form{
            margin: 0;
        }
    }
    #suitable{
        h1{
            font-size: 30px;
            line-height: 35px;
        }
        h6{
            font-size: 24px;
            line-height: 30px;
        }
        p{
            font-size: 15px;
            line-height: 23px;
            padding-bottom: 30px;
        }
        button{
            margin: 25px 0;
        }
    }
    #about{
        p{
            font-size: 18px;
            line-height: 30px;
        }
        h1{
            margin-bottom: 30px;
            font-size: 30px;
        }
        .elements{
            p{
                line-height: 20px;
                font-size: 12px;
            }
            h6{
                font-size: 20px;
            }
            .first{
                width: auto;
                margin-right: 0px;
                .elements_status{
                    left: 16.5px;
                    padding: 99px 15px;
                    width: 91.5%;
                    height: 100%;
                    font-size: 32px;
                }
                img{
                    width: 100%;
                }
            }
            .second{
                margin-right: 0px;
                width: auto;
                height: auto;
                margin-top: 30px;
            }
            .third{
                margin-right: 0px;
                width: auto;
                height: auto;
                margin-top: 30px;
                img{
                    width: 100%;
                }
            }
            .last{
                margin-top: 30px;
                bottom: 0;
                padding: 21px 25px;
            }
        }
    }
}